@import "tailwindcss";

:root {
  --background: #DDDDDD;
  --secondary-background: #FFFFFF;
  --foreground: #F8F8F8;
  --secondary-foreground: #000000;

  --brand-primary: #023C2D;
  --brand-secondary: #E2BA7B;
  --brand-secondary-100: #EDE0CA;

  --gray-100: #F8F8F8;
  --gray-200: #EEEEEE;
  --gray-300: #DDDDDD;
  --gray-500: #CCCCCC;
  --gray-600: #939393;
  --gray-700: #5A5A5A;
  --gray-900: #212121;

  --secondary-green: #2A7E67;
  --secondary-orange: #CF5C36;
  --secondary-orange-100: #816C4B;

  --error-100: #FB2C36;

  --border: #D2D5DA;
}

@theme inline {
  /* colors */
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-brand-primary: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);
  --color-brand-secondary-100: var(--brand-secondary-100);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-900: var(--gray-900);
  --color-secondary-green: var(--secondary-green);
  --color-secondary-orange: var(--secondary-orange);
  --color-secondary-orange-100: var(--secondary-orange-100);
  --color-error-100: var(--error-100);
  --color-border: var(--border);

  /* fonts */
  --font-jakarta-sans: var(--font-jakarta);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #DDDDDD;
    --secondary-background: #FFFFFF;
    --foreground: #F8F8F8;
    --secondary-foreground: #000000;

    --brand-primary: #023C2D;
    --brand-secondary: #E2BA7B;
    --brand-secondary-100: #EDE0CA;

    --gray-100: #F8F8F8;
    --gray-200: #EEEEEE;
    --gray-300: #DDDDDD;
    --gray-500: #CCCCCC;
    --gray-600: #939393;
    --gray-700: #5A5A5A;
    --gray-900: #212121;

    --secondary-green: #2A7E67;
    --secondary-orange: #CF5C36;
    --secondary-orange-100: #816C4B;

    --error-100: #FB2C36;

    --border: #D2D5DA;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jakarta), sans-serif;
}

/* customize input autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--secondary-background) inset;
  -webkit-text-fill-color: var(--gray-900);
  caret-color: var(--gray-900);
  transition: background-color 5000s ease-in-out 0s;
}

.scrollbar-none {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}